<section class="mt-3">
    <div class="container">
        <div class="row">][]
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/card1.jpg" class="img-fluid">
                    <div class="card-body">
                            <p class="h3">Indore</p>j
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolorem libero unde quaerat, dolore sed porro sequi repellat officia praesentium?</p>
                            <button class="btn btn-danger btn-sm ">Buy Now</button>
                        <a href="/home"><button class="btn btn-danger btn-sm cart">Add to cart</button></a> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/card2.jpg" class="img-fluid">
                    <div class="card-body">
                        <p class="h3">Jhansi</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolorem libero unde quaerat, dolore sed porro sequi repellat officia praesentium?</p>
                        <button class="btn btn-danger btn-sm">Buy Now</button>
                    </div>
                </div> 
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/card3.jpg" class="img-fluid">
                    <div class="card-body">
                        <p class="h3">Delhi</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolorem libero unde quaerat, dolore sed porro sequi repellat officia praesentium?</p>
                        <button class="btn btn-danger btn-sm">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/card4.jpg" class="img-fluid">
                    <div class="card-body">
                        <p class="h3">Pune</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolorem libero unde quaerat, dolore sed porro sequi repellat officia praesentium?</p>
                        <button class="btn btn-danger btn-sm">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/card4.jpg" class="img-fluid">
                    <div class="card-body">
                        <p class="h3">Nagpur</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolorem libero unde quaerat, dolore sed porro sequi repellat officia praesentium?</p>
                        <button class="btn btn-danger btn-sm">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/card3.jpg" class="img-fluid">
                    <div class="card-body">
                        <p class="h3">Nagpur</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolorem libero unde quaerat, dolore sed porro sequi repellat officia praesentium?</p>
                        <button class="btn btn-danger btn-sm">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/card4.jpg" class="img-fluid">
                    <div class="card-body">
                        <p class="h3">Nagpur</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolorem libero unde quaerat, dolore sed porro sequi repellat officia praesentium?</p>
                        <button class="btn btn-danger btn-sm">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg">
                    <img src="assets/card2.jpg" class="img-fluid">
                    <div class="card-body">
                        <p class="h3">Nagpur</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolorem libero unde quaerat, dolore sed porro sequi repellat officia praesentium?</p>
                        <button class="btn btn-danger btn-sm">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
