<mat-toolbar color = 'primary' class = 'mat-elevation-z9'>
    <span><mat-icon>eco</mat-icon>Electricity Billing System</span>
    <div class = "spacer"></div>
    <a mat-button routerLink="home">Billing</a>
    <a mat-button routerLink="departments">learn</a>
    <a mat-button routerLink="comp">Comp</a>
    <a mat-button routerLink="practice2">Pract2</a>
    <a mat-button routerLink="card">Brands</a>
    <a mat-button routerLink="practice">Table</a>
    <a mat-button routerLink="nitin">Nitin</a>
    <a mat-raised-button routerLink="new" color="accent">Sign UP</a>
</mat-toolbar>
