<table border = 1>

    <tr>

        <th>Payment ID</th>

        <th>Customer ID</th>

        <th>Bill ID</th>

        <th>Bill Ammount</th>

        <th>Payment Date</th>

        <th>Payment Status</th>

    </tr>

    <tr *ngFor="let user of userData">

        <td>{{user.PaymentId}}</td>

        <td>{{user.Customerid}}</td>

        <td>{{user.Billid}}</td>

        <td>{{user.Billamount}}</td>

        <td>{{user.PaymentDate}}</td>

        <td>{{user.Paystatus}}</td>

    </tr>

</table>